.video_page {
  position: absolute;
  top: 15vh;
  background: var(--prime-color);
  width: 100%;
  height: max-content;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
}
.tittle_h1{
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  color: var(--light-color);
  font-family: var(--prime-font);
  font-size: 3rem;
}
.video_card {
  width: 32rem;
  height: 18rem;
  margin: 1rem;
  background: var(--faded-color);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 3rem var(--dark-color);
  animation: height-grow .5s linear;
}

.blog_page {
  position: absolute;
  top: 15vh;
  background: var(--prime-color);
  width: 100%;
  height: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
}

.load_site::before{
  content: "";
  width: 100%;
  position: absolute;
  top: 14.5vh;
  left: 0;
  border: 0.1rem solid var(--light-color);
  animation: load-site 1s linear;
}
.item_hidden{
  display: none;
}
@keyframes load-site{
  0%{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

.blog_card {
  padding: 1rem;
  width: 100%;
  height: 15rem;
  margin: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 3rem var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: height-grow .5s linear;
}

@keyframes height-grow {
  0% {
    opacity: 0%;
    height: 0;
  }
  100% {
    opacity: 100%;
    height: 13rem;
  }
}

.blog_img {
  width: 20rem;
  height: 13rem;
  background: var(--faded-color);
}

.blog_btn {
  background: var(--prime-color);
  width: 10rem;
}

.notification_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  position: absolute;
  top: 15vh;
  width: 100%;
  height: 100vh;
  background: linear-gradient(var(--prime-color), var(--dark-color)) ;
  display: none;
  animation: slide-left 300ms linear;
}

@keyframes slide-left {
  0%{
    opacity: 0%;
    transform: translateX(100%);
  }
  100%{
    opacity: 100%;
    transform: translateX(0%);
  }
}

.notification_card {
  width: 90%;
  padding: 1.5rem;
  background: var(--faded-color);
  border-radius: 1rem;
  box-shadow: .5rem .5rem 6rem;
  height: max-content;
  margin: 1rem;
}
.notification_tittle {
  color: var(--dark-color);
  font-size: 1.2rem;
  font-family: var(--prime-font);
}
.notification_body{
  font-family: var(--prime-font);
  padding-top: .3rem;
  font-size: 1.1rem;
}

