/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

  --prime-color: #3f5992;
  --dark-color: #030d27;
  --light-color: #e9e9e9;
  --faded-color: #b1bbb6;
  --second-color: #334445;
  --prime-font: "Poppins", sans-serif;
}

body {
  background: var(--prime-color);
  overflow-x: hidden;
}

#bellIcon {
  position: absolute;
  top: 2rem;
  right: 2.4rem;
  width: 2.4rem;
  fill: var(--light-color);
}

.header {
  background: var(--dark-color);
  width: 100%;
  height: 15vh;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin-bottom: 0.5rem;
  width: 100%;
  color: var(--light-color);
  font-family: var(--prime-font);
  font-size: 2.8rem;
  font-weight: 800;
}
.nav_list {
  display: inline;
  list-style: none;
}
.nav_link {
  padding: 0.8rem 1.2rem;
  text-align: center;
  color: var(--light-color);
  text-decoration: none;
  font-family: var(--prime-font);
  font-weight: 500;
  font-size: 1.7rem;
}

.header_content {
  padding: 2rem 1rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--second-color);
}

.img_header {
  background: var(--faded-color);
  width: 34rem;
  height: 24rem;
  border-radius: 1rem;
  animation: height-grow 0.5s linear;
}
.text_header_demo {
  width: 70rem;
  padding: 2rem 5%;
}
.text_header_demo h2,
.text_header_demo p {
  color: var(--light-color);
  font-family: var(--prime-font);
}
.text_header_demo h2 {
  border-bottom: 1px solid;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
.text_header_demo p {
  font-size: 1.3rem;
  word-break: keep-all;
}

.container_news {
  display: flex;
  flex-direction: column;
  padding: 1.4rem 4rem;
  background: var(--light-color);
  height: max-content;
  overflow: hidden;
}
.news_card {
  margin: 1.5rem 0;
  width: 100%;
  padding: 1rem;
  height: max-content;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0.8rem 1.2rem 3.5rem var(--dark-color);
}

.news_img {
  border-radius: 0.3rem;
  width: 20rem;
  max-width: 40%;
  height: 18rem;
  background: var(--faded-color);
  animation: height-grow 0.5s linear;
}
.news_content {
  color: var(--dark-color);
  font-family: var(--prime-font);
  width: fit-content;
  margin-left: 1rem;
  padding: 0 1rem;
}
.read_more-btn {
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--light-color);
  background: var(--dark-color);
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  font-family: var(--prime-font);
  border: none;
  outline: none;
}

.footer_text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: var(--prime-font);
  background: var(--dark-color);
  color: var(--light-color);
  height: 4rem;
  font-size: 1.5rem;
}
