/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

  --prime-color: #009876;
  --dark-color: #000000;
  --light-color: #e9e9e9;
  --faded-color: #b1bbb6;
  --second-color: #334445;
  --prime-font: "Poppins", sans-serif;
}

body {
  background: var(--prime-color);
  overflow-x: hidden;
}

.loader_page {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  overflow: hidden;
}
.svg{
  width: 8rem;
  height: 8rem;
  background: #ffe100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg svg{
  width: 5rem;  
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 3rem; */
  overflow: hidden;
}
.loader::after {
  content: "";
  width: 8.5rem;
  height: 8.5rem;
  border: 0.8rem solid #eee;
  border-top-color: #ffe100;
  border-right-color: #ffe100;
  border-bottom-color: #ffe100;
  border-radius: 50%;
  animation: loading 0.7s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#bellIcon {
  position: absolute;
  top: 2rem;
  right: 2.4rem;
  width: 2.4rem;
  fill: var(--light-color);
  cursor: pointer;
}

.header {
  background: var(--prime-color);
  width: 100%;
  height: 15vh;
  padding: 1rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin-bottom: 0.5rem;
  width: 100%;
  color: var(--light-color);
  font-family: var(--prime-font);
  font-size: 2.8rem;
  font-weight: 800;
}
.nav_list {
  display: inline;
  list-style: none;
}
.nav_link {
  padding: 0.8rem 1.2rem;
  text-align: center;
  color: var(--light-color);
  text-decoration: none;
  font-family: var(--prime-font);
  font-weight: 500;
  font-size: 1.7rem;
}

.header_content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--second-color);
}

.img_header {
  background: var(--faded-color);
  height: 24rem;
  width: max-content;
  display: flex;
  overflow: hidden;
  
  /* animation: height-grow 0.5s linear; */
}
.img_slider{
  width: 70.1rem;
  animation: slide-right 6s ease infinite;
}
@keyframes slide-right{
  0%{
    margin: 0;
  }
  40%{
    margin-left: calc(100vw - 70.1rem);
  }
  100%{
    margin-left: calc(-(100vw - 70.1rem));
  }
}

.text_header_demo {
  width: 70rem;
  padding: 2rem 3rem;
}
.text_header_demo h2,
.text_header_demo p {
  color: var(--light-color);
  font-family: var(--prime-font);
}
.text_header_demo h2 {
  border-bottom: 1px solid;
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
.text_header_demo p {
  font-size: 1.3rem;
  word-break: keep-all;
}

.container_news {
  display: flex;
  flex-direction: column;
  padding: 1.4rem 4rem;
  background: var(--light-color);
  height: max-content;
  overflow: hidden;
}
.news_card {
  /* margin: .5rem 0; */
  width: 100%;
  padding: 1rem;
  height: max-content;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  /* box-shadow: 0.8rem 1.2rem 3.5rem var(--dark-color); */
}

.news_img {
  border-radius: 0.3rem;
  width: 10rem;
  height: 10rem;
  background: var(--faded-color);
  animation: height-grow 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.news_content {
  color: var(--dark-color);
  font-family: var(--prime-font);
  width: calc(100% - 10rem);
  margin-left: 1rem;
  padding: 0 1rem;
}
.read_more-btn {
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--light-color);
  background: var(--dark-color);
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  font-family: var(--prime-font);
  border: none;
  outline: none;
}

.footer_text {
  z-index: 50;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: var(--prime-font);
  background: var(--dark-color);
  color: var(--light-color);
  height: 4rem;
  font-size: 1.5rem;
}

@media screen and (min-width:701px){
  .img_slider{
    width: 60rem;
    animation: none;
  }
}